</tbody>

<table>
    <thead>
        <tr>
            <td></td>
            <th scope="col">商品名</th>
            <th scope="col">商品価格</th>
            <th scope="col">成分</th>
            <th scope="col">出荷日時</th>
            <th scope="col">URL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>0001</th>
            <td data-label="商品名" class="txt">{{ name }} </td>
            <td data-label="商品価格" class="txt"></td>
            <td data-label="店名" class="txt"></td>
            <td data-label="出荷日時" class="txt"></td>
            <td data-label="URL" class="txt"></td>

        </tr>

    </tbody>
</table>